*,*::before,*::after{
    box-sizing: border-box;
}

body{
    font-family: 'Bruno Ace SC', cursive;
    line-height: 1.5;
}

img{
    vertical-align: middle;
}

a{
    text-decoration: none;
    
    &:hover{
        opacity: 0.8;
    }
}

.container{
    max-width: $containerMaxWidth;
    margin: 0 auto;
}



h2{
    font-size: $fz-64;
}

h3{
    font-size: $fz-64;
}