@import "main.scss";

/* -------- header --------*/
.header__menu{
    display: flex;
    justify-content: space-between;
    padding-top: 40px;

    li{
        max-width: 306px;
        color: $gray;
    }

    a{
        color: $gray;
    }
}

/* -------- banner --------*/
.banner{
    display: flex;
    padding: 72px 0px;
    color: white;

    &__peopleImg{
        margin-right: 24px;
    }

    &__text{
        display: flex;
        flex-direction: column;
        justify-content: center;

        h1{
            font-size: $fz-128;
            color: $green;
            text-align: right;
        }
        .contactBtn{
            align-self: flex-end;
            padding: 12px 24px;
            border-radius: $radius;
            background-color: white;
            color: black;

            .arrowImg{
                margin-left: 4px;
            }
        }
    }
}

/* -------- introduction --------*/

.ocean-bg{
    background-image: url(../../images/ocean.png);
}

.intro{
    display: flex;
    color: white;

    &__text{
        max-width: 526px;
        margin-right: 24px;

        h3{
            margin-bottom: 36px;
        }

        p{
            margin-bottom: 32px;
            font-size: $fz-24;
        }

        .intro__smImg{
            display: inline-flex;

            img:not(:last-child){
                margin-right: 16px;
            }
        }
    }

    &__bigImg{
        max-width: 746px;
        display: flex;
        gap: 24px;
    }
}

/* -------- about me --------*/
.aboutMe{
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__list{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        max-width: 646px;
        list-style-type: none;

        li{
            counter-increment: item;
            width: calc(50% - 12px);
            padding: 16px;
            border: 1px solid $borderGray;
            box-shadow: 4px 4px 4px 0px #00000014;

            h4{
                font-size: $fz-20;
                margin-bottom: 4px;
            }
        }

        li::before{
            content: "0" counter(item);
        }

        li:nth-child(1),li:nth-child(2){
            margin-bottom: 24px;
        }
    }

    &__text{
        max-width: 526px;

        h3{
            margin-bottom: 36px;
        }
        p{
            font-size: $fz-24;
        }
    }
}

/* -------- contact me --------*/
.linear-bg{
    background: linear-gradient(#050014, rgba(1, 2, 30, 0.89));
    padding: 96px 0px;
}

.contactMe{
    display: flex;
    justify-content: space-between;

    &__text{
        display: flex;
        align-items: center;
        color: white;

        h3{
            margin-right: 28px;
        }

        img{
            width: 79px;
        }
    }

    &__imgBlock{
        display: flex;
        align-items: center;

        a{
            display: block;
        }

        img{
            object-fit: cover;
            width: 162px;
            height: 162px;
            border-radius: 40px;

            &:hover{
                box-shadow: 0px 0px 16px 3px rgb(144, 148, 255, 0.9);

            }
        }

        li:not(:last-child){
            margin-right: 24px;
        }
    }
}

/* -------- my project --------*/
.project{
    display: flex;
    flex-direction: column;

    h3{
        width: 746px;
        margin-bottom: 16px;
        margin-left: auto;
    }

    &__content{
        display: flex;
    }

    &__bigImg{
        margin-right: 24px;
    }

    &__rightBlock{
        display: flex;
        flex-direction: column;
        align-items: end;

        .project__textBlock{
            display: flex;
            margin-bottom: 28px;
    
            .codeImg{
                margin-right: 24px;
            }
            
            .project__text{
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                .moreBtn{
                    align-self: flex-start;
                    padding: 12px 24px;
                    border-radius: $radius;
                    background-color: black;
                    color: white;

                    .arrowImg{
                        margin-left: 4px;
                    }
                }
            }
        }

        .project__imgBlock{
            width: 100%;
            display: flex;
            justify-content: space-between;
        }
    }
}

/* -------- footer --------*/
footer{
    padding: 40px 0px;
    background-color: black;
    color: white;

    p{
        text-align: center;
    }
}
